<!DOCTYPE html>
<html id="main">
{{>head}}


<div class="container-fluid">
    <div class="row">

        <div class="col-12">
            <form id="sunForm" method="post" action="/sun/sunpost">

                <div class="form-group">

                    <div class="row">

                        <div class="col-6 myClass">
                            <label for="dataini">
                                <h6>Data/Hora inicial:</h6>
                            </label>

                            <input type="datetime" required class="form-control form-control-lg" id="dataini"
                                name="dataini" placeholder="Digite no formato: dd/mm/aaaa hh:mm:ss">
                        </div>
                        <div class="col-6 myClass">
                            <label for="datafim">
                                <h6>Data/Hora final:</h6>
                            </label>

                            <input type="datetime" required class="form-control form-control-lg" id="datafim"
                                name="datafim" placeholder="Digite  no formato: dd/mm/aaaa hh:mm:ss">
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col-6 myClass">
                            <label for="latitude">
                                <h6>Latitude:</h6>
                            </label>
                            <input type="text" required class="form-control form-control-lg" id="latitude"
                                name="latitude" placeholder="Digite a latitude">
                        </div>
                        <div class="col-6 myClass">

                            <label for="logitude">
                                <h6>Longitude:</h6>
                            </label>
                            <input type="text" required class="form-control form-control-lg" id="longitude"
                                name="longitude" placeholder="Digite a longitude">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-6 myClass">
                            <label for="horaini">
                                <h6>Hora inicial:</h6>
                            </label>
                            <input type="text" required class="form-control form-control-lg" id="horaini" name="horaini"
                                placeholder="Digite a hora inicial">
                        </div>
                        <div class="col-6 myClass">

                            <label for="horafim">
                                <h6>Hora Final:</h6>
                            </label>
                            <input type="text" required class="form-control form-control-lg" id="horafim" name="horafim"
                                placeholder="Digite a hora final">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4 myClass">
                            <label for="sAltura">
                                <h6>Altura do obstáculo:</h6>
                            </label>
                            <input type="text" required class="form-control form-control-lg" id="sAltura" name="sAltura"
                                placeholder="Digite a altura do obstáculo">
                        </div>
                        <div class="col-4 myClass">
                            <label for="limElev">
                                <h6>Elevação mínima solar:</h6>
                            </label>
                            <input type="text" required class="form-control form-control-lg" id="limElev" name="limElev"
                                placeholder="Digite a menor elevação a ser considerada">
                        </div>
                        <div class="col-4 myClass">
                            <label for="passo">
                                <h6>Passo:</h6>
                            </label>
                            <input type="text" required class="form-control form-control-lg" id="passo" name="passo"
                                placeholder="Digite o passo em minutos para amostragem">

                        </div>
                    </div>
                </div>
                <button id="submit" type="submit" type="button" class="btn btn-primary btn-center">Executar</button>
            </form>

        </div>


    </div>
    <div class="row" id="canvas">
        <div class="col-12">
            <div class="chartjs-wrapper">
                <canvas id="chartjs-3" class="chartjs" width="500" height="500"></canvas>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="sunModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Aguarde</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center">
        Os cálculos estão sendo realizados. <br>
        Em alguns segundos o gráfico será exibido.
      </div>
      <div id="timer" style="text-align: center">

      </div>
    </div>
  </div>
</div>








<script>
    new Chart(document.getElementById("chartjs-3"),
        {
            "type": "radar",
            "data": {
                "labels": [
                    {{#each sunArray}}
            "{{sDirecao}}",
            {{/each}}
                    ],
        "datasets": [
            {
                "label": "Sombreamento Solar",
                "data": [
                    {{#each sunArray}}
            {{sComprimento}},
            {{/each}}
        ],
        "fill": true,
        "backgroundColor": "rgba(255, 99, 132, 0.2)",
        "borderColor": "rgb(255, 99, 132)",
        "pointBackgroundColor": "rgb(255, 99, 132)",
        "pointBorderColor": "#fff",
        "pointHoverBackgroundColor": "#fff",
        "pointHoverBorderColor": "rgb(255, 99, 132)"
                        }]
                }, "options": { "elements": { "line": { "tension": 0, "borderWidth": 3 } } }
            });
</script>

<script>
    var pathname = window.location.pathname;
    
    if (pathname == '/sun/sunpost'){
        document.getElementById('canvas').style.visibility = 'hidden';
        document.getElementById('logo').src = '../../imperium.png';
        window.location.href = '/sun/sunget';
        //$('#sunModal').modal('show');
       /* $('#sunModal').modal('toggle');

       var i = 0;
        setInterval( function(){
            i++;
            var texto = '';
            document.getElementById('timer').innerHTML = i;
        },
            1000
        );

        setTimeout(function(){
            window.location.href = '/sun/sunget';
        },
         10000);*/

    } else if (pathname == '/sun' || pathname == '/sun/'){
        document.getElementById('canvas').style.visibility = 'hidden';
    } else if (pathname == '/sun/sunget'){
        document.getElementById('logo').src = '../../imperium.png';
        document.getElementById('canvas').style.visibility = 'visible';
    }

</script>





</body>



</html>